.settings
bin
gen
.classpath
.project
.idea
*.eml
*.iml
.gradle
/local.properties
/.idea/caches/build_file_checksums.ser
/.idea/modules.xml
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
local.properties
/captures
.externalNativeBuild
